<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/b0cc2347-bd9c-42bd-9fde-3d0fd4bebbe5/resourcegroups/P10WebApp/providers/Microsoft.ContainerRegistry/registries/P05ShopAPI20231112123417</ResourceId>
    <ResourceName>P05ShopAPI20231112123417</ResourceName>
    <ResourceGroup>P10WebApp</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>p05shopapi20231112123417.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>bb897b37-ba6d-4d25-809f-607bae5157f4</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>